@model List<PatientNoteViewModel>

<h2>List of Patients</h2>

@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @ViewData["SuccessMessage"]
    </div>
}
@if (Model == null || !Model.Any())
{
    <p>No patients found.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Risk of Diabetes</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Patient.FirstName</td>
                    <td>@patient.Patient.LastName</td>
                    <td>@patient.Patient.DateOfBirth.ToShortDateString()</td>
                    <td>@patient.Patient.Gender</td>
                    <td>@patient.Patient.Address</td>
                    <td>@patient.Patient.PhoneNumber</td>
                    <td>@patient.RiskDiabete</td>
                    <td>
                        <a asp-controller="Requete" asp-action="GetPatientDetails" asp-route-patientId="@patient.Patient.Id">Details</a> |
                        <a asp-controller="Requete" asp-action="GetPatientUpdate" asp-route-patientId="@patient.Patient.Id">Edit</a> |
                        <a asp-controller="Requete" asp-action="DeletePatient" asp-route-patientId="@patient.Patient.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

